<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.changsoo.copypastestudy.ase.mapper.AseCtfcMapper">

    <select id="selectAseCtfcHdOne" resultType="aseCtfcVO" parameterType="aseCtfcVO">
        SELECT CTFC_CD
             , CTFC_NM
        FROM TB_ASE_CERTIFICATE_HD
        WHERE CTFC_CD = #{ctfcCd}
    </select>

    <select id="selectAseCtfcHdList" resultType="aseCtfcVO" parameterType="aseCtfcVO">
        SELECT CTFC_CD
             , CTFC_NM
          FROM TB_ASE_CERTIFICATE_HD
        <where>
            <if test="ctfcCd != null and !ctfcCd.equals('')">
                AND CTFC_CD = #{ctfcCd}
            </if>
            <if test="ctfcNm != null and !ctfcNm.equals('')">
                AND CTFC_NM LIKE '%' || #{ctfcNm} || '%'
            </if>
        </where>
        ORDER BY CTFC_CD
    </select>

    <insert id="insertAseCtfcHd" parameterType="aseCtfcVO">
        INSERT INTO TB_ASE_CERTIFICATE_HD (
               CTFC_CD
             , CTFC_NM
        ) values (
               #{ctfcCd}
             , #{ctfcNm}
         )
    </insert>

    <update id="updateAseCtfcHd" parameterType="aseCtfcVO">
        UPDATE TB_ASE_CERTIFICATE_HD
           SET CTFC_NM  = #{ctfcNm}
         WHERE CTFC_CD = #{ctfcCd}
    </update>

    <delete id="deleteAseCtfcHd" parameterType="aseCtfcVO">
        DELETE
        FROM TB_ASE_CERTIFICATE_HD
        WHERE CTFC_CD = #{ctfcCd}
    </delete>

    <select id="selectAseCtfcDtOne" resultType="aseCtfcVO" parameterType="aseCtfcVO">
        SELECT CTFC_CD
             , CTFC_DT_CD
             , CTFC_DT_NM
        FROM TB_ASE_CERTIFICATE_DT
        WHERE CTFC_DT_CD = #{ctfcDtCd}
    </select>

    <select id="selectAseCtfcDtList" resultType="aseCtfcVO" parameterType="aseCtfcVO">
        SELECT CTFC_CD
             , CTFC_DT_CD
             , CTFC_DT_NM
        FROM TB_ASE_CERTIFICATE_DT
        WHERE CTFC_CD = #{ctfcCd}
        <where>
            <if test="ctfcDtCd != null and !ctfcDtCd.equals('')">
                AND CTFC_DT_CD LIKE '%' || #{ctfcDtCd} || '%'
            </if>
            <if test="ctfcDtNm != null and !ctfcDtNm.equals('')">
                AND CTFC_DT_NM LIKE '%' || #{ctfcDtNm} || '%'
            </if>
        </where>
        ORDER BY CTFC_DT_CD
    </select>

    <insert id="insertAseCtfcDt" parameterType="aseCtfcVO">
        INSERT INTO TB_ASE_CERTIFICATE_DT (
             CTFC_CD
           , CTFC_DT_CD
           , CTFC_DT_NM
        ) values (
             #{ctfcCd}
           , #{ctfcDtCd}
           , #{ctfcDtNm}
         )
    </insert>

    <update id="updateAseCtfcDt" parameterType="aseCtfcVO">
        UPDATE TB_ASE_CERTIFICATE_DT
           SET CTFC_DT_NM  = #{ctfcDtNm}
         WHERE CTFC_DT_CD = #{ctfcDtCd}
           AND CTFC_CD = #{ctfcCd}
    </update>

    <delete id="deleteAseCtfcDt" parameterType="aseCtfcVO">
        DELETE
        FROM TB_ASE_CERTIFICATE_DT
        WHERE CTFC_DT_CD = #{ctfcDtCd}
          AND CTFC_CD = #{ctfcCd}
    </delete>

</mapper>