<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.changsoo.copypastestudy.ase.mapper.AseJqDataMapper">

<!--    <insert id="insertAseMultiRow" parameterType="aseJqDataVO">
        /* AseJqDataMapper.insertAseMultiRow */
        <foreach item="item" index="index" collection="chkVal.split(',')" separator=" " open="INSERT ALL" close="SELECT * FROM DUAL">
            into TB_JQ_MULTI_ROWS (
                          SEQ
                     , INP_VAL
                     , SEL_VAL
                     , RDO_VAL
                     , CHK_VAL
            ) values (
                    SYS_GUID()
                     , #{inpVal}
                     , #{selVal}
                     , #{rdoVal}
                     , #{item}
            )
        </foreach>
    </insert>-->

    <insert id="insertAseMultiRow" parameterType="aseJqDataVO">
        /* AseJqDataMapper.insertAseMultiRow */
        insert into TB_JQ_MULTI_ROWS (
            SEQ
            , INP_VAL
            , SEL_VAL
            , RDO_VAL
            , CHK_VAL
            ) values (
            SYS_GUID()
            , #{inpVal}
            , #{selVal}
            , #{rdoVal}
            , #{chkVal}
            )
    </insert>

    <insert id="insertAseMoveData" parameterType="aseJqDataVO">
        /* AseJqDataMapper.insertAseMoveData */
        <foreach item="selList" collection="multiSelList" separator=" " open="INSERT ALL" close="SELECT * FROM DUAL">
        into TB_JQ_MOVE_DATA (
                NICK
                , SEL_VAL
        ) values (
            'ASE'
        , #{selList}
        )
        </foreach>
    </insert>

</mapper>