<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.changsoo.copypastestudy.ase.mapper.AseMemberMapper">

    <insert id="insertAseMember" parameterType="aseMemberVO">
        insert into TB_COMM_MEMBER_TEMP (
                      MEM_UID
                    , MEM_NAME
                    , MEM_PHONE
                    , MEM_REG_NUM
                    , MEM_CHK
                    , MEM_RDO
                    , MEM_DESC
                    , CREATE_DT
        ) values (
                    SYS_GUID()
                    , #{memName}
                    , #{memPhone}
                    , #{memRegNum}
                    , #{memChk}
                    , #{memRdo}
                    , #{memDesc}
                    , SYSDATE + 9/24
        )
    </insert>

    <select id="selectAseMember" resultType="aseMemberVO" parameterType="aseMemberVO">
        SELECT TEMP.MEM_UID
             , SUBSTR(TEMP.MEM_NAME, 1,1) || '*' || SUBSTR(TEMP.MEM_NAME, 3,1) AS MEM_NAME
             , SUBSTR(TEMP.MEM_PHONE, 1, 3) || '-' || '****' || '-' || SUBSTR(TEMP.MEM_PHONE, 8, 4) AS MEM_PHONE
             , RPAD(SUBSTR(TEMP.MEM_REG_NUM, 1, 6) || '-' || SUBSTR(TEMP.MEM_REG_NUM, 7, 1), 14, '*') AS MEM_REG_NUM
             , REPLACE(REPLACE(REPLACE(REPLACE(TEMP.MEM_CHK, 'C', 'CRUD'), 'Q', 'Query'), 'F', 'Function'), 'P', 'Procedure') AS MEM_CHK
             , CASE WHEN TEMP.MEM_RDO = 'J' THEN '일본'
                    WHEN TEMP.MEM_RDO = 'A' THEN '동남아'
                    WHEN TEMP.MEM_RDO = 'E' THEN '유럽'
                    ELSE TEMP.MEM_RDO
                END AS MEM_RDO
             , TEMP.MEM_DESC
             , TEMP.CREATE_DT
             , MEM.MEM_UID
             , MEM.CREATE_DT AS CONF_DATE
          FROM TB_COMM_MEMBER_TEMP TEMP
          LEFT OUTER JOIN TB_COMM_MEMBER MEM ON MEM.MEM_UID = TEMP.MEM_UID
        <where>
            <if test="memName != null and !memName.equals('')">
                AND TEMP.MEM_NAME LIKE '%' || #{memName} || '%'
            </if>
            <if test="memRegNum != null and !memRegNum.equals('')">
                AND TEMP.MEM_REG_NUM LIKE '%' || #{memRegNum} || '%'
            </if>
            <if test="memPhone != null and !memPhone.equals('')">
                AND TEMP.MEM_PHONE LIKE #{memPhone} || '%'
            </if>
            <if test="memRdo != null and !memRdo.equals('')">
                AND TEMP.MEM_RDO = #{memRdo}
            </if>
            <if test="memChk != null and !memChk.equals('')">
                <!--AND TEMP.MEM_CHK IN (
                <foreach item="item" index="index" collection="memChk.split(',')" separator=",">
                    #{item}
                </foreach>
                    )-->
                AND TEMP.MEM_CHK = #{memChk}
            </if>
        </where>
    </select>

    <select id="selectAseMemberOne" resultType="aseMemberVO" parameterType="aseMemberVO">
        SELECT MEM_UID
             , MEM_NAME
             , MEM_PHONE
             , SUBSTR(MEM_PHONE, 0, 3) AS MEM_PHONE1
             , SUBSTR(MEM_PHONE, 4, 4) AS MEM_PHONE2
             , SUBSTR(MEM_PHONE, 8, 4) AS MEM_PHONE3
             , MEM_REG_NUM
             , SUBSTR(MEM_REG_NUM, 0, 6) AS MEM_REG_NUM1
             , SUBSTR(MEM_REG_NUM, 7, 7) AS MEM_REG_NUM2
             , MEM_CHK
             , MEM_RDO
             , MEM_DESC
             , CREATE_DT
        FROM TB_COMM_MEMBER_TEMP
       WHERE MEM_UID LIKE '%' || #{memUid} || '%'
    </select>

    <insert id="insertAseCheckMember" parameterType="aseMemberVO">
        insert into TB_COMM_MEMBER (
              MEM_UID
            , MEM_NAME
            , MEM_PHONE
            , MEM_REG_NUM
            , MEM_CHK
            , MEM_RDO
            , MEM_DESC
            , CREATE_DT
        )
        SELECT MEM_UID
             , MEM_NAME
             , MEM_PHONE
             , MEM_REG_NUM
             , MEM_CHK
             , MEM_RDO
             , MEM_DESC
             , SYSDATE + 9/24 AS CREATE_DT
        FROM TB_COMM_MEMBER_TEMP
        WHERE MEM_UID = #{memUid}
    </insert>
 

</mapper>