<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.changsoo.copypastestudy.commCd.mapper.CommCdMapper">
    <select id="selectCommCdListYjs" parameterType="commCdVO" resultType="commCdVO">
        select comm_cd, comm_nm, comm_desc, create_user_id, create_dt
        from TB_COMM_CD
    </select>

    <select id="selectCommCdOneYjs" parameterType="commCdVO" resultType="commCdVO">
        select comm_cd, comm_nm, comm_desc, create_user_id, create_dt, UPDATE_USER_ID, UPDATE_DT
        from TB_COMM_CD
        where COMM_CD = #{commCd}
    </select>

    <insert id="insertCommCdYjs" parameterType="commCdVO">
        INSERT INTO TB_COMM_CD (
            comm_cd, comm_nm, comm_desc, create_user_id, create_dt
        ) values (
                    #{commCd}
                 , #{commNm}
                 , #{commDesc}
                 , #{createUserId}
                 , #{createDt}
        )
    </insert>

    <update id="updateCommCdYjs" parameterType="commCdVO">
        UPDATE TB_COMM_CD
        SET comm_nm  = #{commNm}
          , comm_desc  = #{commDesc}
          , UPDATE_USER_ID  = #{updateUserId}
          , UPDATE_DT  = #{updateDt}
        WHERE comm_cd = #{commCd}
    </update>

    <delete id="deleteCommCdYjs" parameterType="commCdVO">
        DELETE
        FROM TB_COMM_CD
        WHERE comm_cd = #{commCd}
    </delete>

    <select id="selectCommDtListYjs" parameterType="commDtlCdVO" resultType="commDtlCdVO">
        select comm_dtl_cd, comm_cd, comm_dtl_nm, comm_dtl_desc, use_yn, create_user_id, create_dt, update_user_id, update_dt
        from TB_COMM_DTL_CD
    </select>

    <select id="selectCommDtOneYjs" parameterType="commDtlCdVO" resultType="commDtlCdVO">
        select comm_dtl_cd, comm_cd, comm_dtl_nm, comm_dtl_desc, use_yn, create_user_id, create_dt, update_user_id, update_dt
        from TB_COMM_DTL_CD
        where comm_dtl_cd = #{commDtlCd}
          and COMM_CD = #{commCd}
    </select>

    <insert id="insertCommDtYjs" parameterType="commDtlCdVO">
        INSERT INTO TB_COMM_DTL_CD (
            comm_dtl_cd, comm_cd, comm_dtl_nm, comm_dtl_desc, use_yn, create_user_id, create_dt
        ) values (
                     #{commDtlCd}
                 , #{commCd}
                 , #{commDtlNm}
                 , #{commDtlDesc}
                 , #{useYn}
                 , #{createUserId}
                 , #{createDt}
                 )
    </insert>

    <update id="updateCommDtYjs" parameterType="commDtlCdVO">
        UPDATE TB_COMM_DTL_CD
        SET comm_dtl_nm  = #{commDtlNm}
          , comm_dtl_desc  = #{commDtlDesc}
          , use_yn  = #{useYn}
          , UPDATE_USER_ID  = #{updateUserId}
          , UPDATE_DT  = #{updateDt}
        WHERE comm_dtl_cd = #{commDtlCd}
          and comm_cd = #{commCd}
    </update>

    <delete id="deleteCommDtYjs" parameterType="commDtlCdVO">
        DELETE
        FROM TB_COMM_DTL_CD
        WHERE comm_dtl_cd = #{commDtlCd}
          and comm_cd = #{commCd}
    </delete>

</mapper>