<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.changsoo.copypastestudy.commCd.mapper.CommCdMapper">
    <select id="selectCommCdListYjs" parameterType="commCdVO" resultType="commCdVO">
        select comm_cd, comm_nm, comm_desc, create_user_id, create_dt
        from TB_COMM_CD
        <where>
            <if test="commCd != null and !commCd.equals('')">
                AND COMM_CD = #{commCd}
            </if>
            <if test="commNm != null and !commNm.equals('')">
                AND COMM_NM = #{commNm}
            </if>
            <if test="commDesc != null and !commDesc.equals('')">
                AND comm_desc = #{commDesc}
            </if>
            <if test="createUserId != null and !createUserId.equals('')">
                AND create_user_id = #{createUserId}
            </if>
            <if test="createDt != null and !createDt.equals('')">
                AND create_dt = #{createDt}
            </if>
        </where>
    </select>

    <select id="selectCommCdOneYjs" parameterType="commCdVO" resultType="commCdVO">
        select comm_cd, comm_nm, comm_desc, create_user_id, create_dt, UPDATE_USER_ID, UPDATE_DT
        from TB_COMM_CD
        where COMM_CD = #{commCd}
    </select>

    <insert id="insertCommCdYjs" parameterType="commCdVO">
        INSERT INTO TB_COMM_CD (
            comm_cd, comm_nm, comm_desc, create_user_id, create_dt
        ) values (
                     #{commCd}
                 , #{commNm}
                 , #{commDesc}
                 , #{createUserId}
                 , #{createDt}
                 )
    </insert>

    <update id="updateCommCdYjs" parameterType="commCdVO">
        UPDATE TB_COMM_CD
        SET comm_nm  = #{commNm}
          , comm_desc  = #{commDesc}
          , UPDATE_USER_ID  = #{updateUserId}
          , UPDATE_DT  = #{updateDt}
        WHERE comm_cd = #{commCd}
    </update>

    <delete id="deleteCommCdYjs" parameterType="commCdVO">
        DELETE
        FROM TB_COMM_CD
        WHERE comm_cd = #{commCd}
    </delete>

    <select id="selectCommDtListYjs" parameterType="commDtlCdVO" resultType="commDtlCdVO">
        select comm_dtl_cd, comm_cd, comm_dtl_nm, comm_dtl_desc, use_yn, create_user_id, create_dt
        from TB_COMM_DTL_CD
        <where>
            <if test="commDtlCd != null and !commDtlCd.equals('')">
                AND comm_dtl_cd = #{commDtlCd}
            </if>
            <if test="commCd != null and !commCd.equals('')">
                AND comm_cd = #{commCd}
            </if>
            <if test="commDtlNm != null and !commDtlNm.equals('')">
                AND comm_dtl_nm = #{commDtlNm}
            </if>
            <if test="commDtlDesc != null and !commDtlDesc.equals('')">
                AND comm_dtl_desc = #{commDtlDesc}
            </if>
            <if test="useYn != null and !useYn.equals('')">
                AND use_yn = #{useYn}
            </if>
            <if test="createUserId != null and !createUserId.equals('')">
                AND create_user_id = #{createUserId}
            </if>
            <if test="createDt != null and !createDt.equals('')">
                AND create_dt = #{createDt}
            </if>
        </where>
    </select>

    <select id="selectCommDtOneYjs" parameterType="commDtlCdVO" resultType="commDtlCdVO">
        select comm_dtl_cd, comm_cd, comm_dtl_nm, comm_dtl_desc, use_yn, create_user_id, create_dt, update_user_id, update_dt
        from TB_COMM_DTL_CD
        where comm_dtl_cd = #{commDtlCd}
          and COMM_CD = #{commCd}
    </select>

    <insert id="insertCommDtYjs" parameterType="commDtlCdVO">
        INSERT INTO TB_COMM_DTL_CD (
            comm_dtl_cd, comm_cd, comm_dtl_nm, comm_dtl_desc, use_yn, create_user_id, create_dt
        ) values (
                     #{commDtlCd}
                 , #{commCd}
                 , #{commDtlNm}
                 , #{commDtlDesc}
                 , #{useYn}
                 , #{createUserId}
                 , #{createDt}
                 )
    </insert>

    <update id="updateCommDtYjs" parameterType="commDtlCdVO">
        UPDATE TB_COMM_DTL_CD
        SET comm_dtl_nm  = #{commDtlNm}
          , comm_dtl_desc  = #{commDtlDesc}
          , use_yn  = #{useYn}
          , UPDATE_USER_ID  = #{updateUserId}
          , UPDATE_DT  = #{updateDt}
        WHERE comm_dtl_cd = #{commDtlCd}
          and comm_cd = #{commCd}
    </update>

    <delete id="deleteCommDtYjs" parameterType="commDtlCdVO">
        DELETE
        FROM TB_COMM_DTL_CD
        WHERE comm_dtl_cd = #{commDtlCd}
          and comm_cd = #{commCd}
    </delete>

    <!-- 공통코드 ASE XML START -->
    <select id="selectCommCdOneAse" parameterType="commCdVO" resultType="commCdVO">
        /* CommCdMapper.selectCommCdOneAse */
        SELECT COMM_CD
             , COMM_NM
             , COMM_DESC
             , CREATE_USER_ID
             , CREATE_DT
             , UPDATE_USER_ID
             , UPDATE_DT
        FROM TB_COMM_CD
        WHERE COMM_CD = #{commCd}
    </select>

    <select id="selectCommCdListAse" parameterType="commCdVO" resultType="commCdVO">
        /* CommCdMapper.selectCommCdListAse */
        SELECT COMM_CD
        , COMM_NM
        , COMM_DESC
        , CREATE_USER_ID
        , CREATE_DT
        , UPDATE_USER_ID
        , UPDATE_DT
        FROM TB_COMM_CD
        <where>
            <if test="commCd != null and !commCd.equals('')">
                AND COMM_CD = #{commCd}
            </if>
            <if test="commNm != null and !commNm.equals('')">
                AND COMM_NM = #{commNm}
            </if>
        </where>
    </select>

    <insert id="insertCommCdAse" parameterType="commCdVO">
        /* CommCdMapper.insertCommCdAse */
        <foreach item="item" index="index" collection="list" separator=" " open="INSERT ALL" close="SELECT * FROM DUAL">
        INTO TB_COMM_CD (
                     COMM_CD
                   , COMM_NM
                   , COMM_DESC
                   , CREATE_USER_ID
                   , CREATE_DT
        ) VALUES (
                     #{item.commCd}
                   , #{item.commNm}
                   , #{item.commDesc}
                   , #{item.createUserId}
                   , SYSDATE
        )
        </foreach>
    </insert>

    <update id="updateCommCdAse" parameterType="commCdVO">
        /* CommCdMapper.updateCommCdAse */
        <foreach item="item" index="index" collection="list" separator=";" open="DECLARE BEGIN" close="; END;">
        UPDATE TB_COMM_CD
        SET COMM_NM = #{item.commNm}
          , COMM_DESC = #{item.commDesc}
          , UPDATE_USER_ID = #{item.updateUserId}
          , UPDATE_DT = SYSDATE
        WHERE COMM_CD = #{item.commCd}
        </foreach>
    </update>

    <delete id="deleteCommCdAse" parameterType="commCdVO">
        /* CommCdMapper.deleteCommCdAse */
        DELETE FROM TB_COMM_CD
        <where>
            <foreach collection="list" item="item" open="" close="" separator="OR">
                COMM_CD = #{item.commCd}
            </foreach>
        </where>
    </delete>

    <select id="selectCommDtlCdOneAse" parameterType="CommDtlCdVO" resultType="CommDtlCdVO">
        /* CommCdMapper.selectCommDtlCdOneAse */
        SELECT COMM_DTL_CD
             , COMM_CD
             , COMM_DTL_NM
             , COMM_DTL_DESC
             , USE_YN
             , CREATE_USER_ID
             , CREATE_DT
             , UPDATE_USER_ID
             , UPDATE_DT
        FROM TB_COMM_DTL_CD
        WHERE COMM_CD = #{commCd}
          AND COMM_DTL_CD = #{commDtlCd}
    </select>

    <select id="selectCommDtlCdListAse" parameterType="CommDtlCdVO" resultType="CommDtlCdVO">
        /* CommCdMapper.selectCommDtlCdListAse */
        SELECT COMM_DTL_CD
        , COMM_CD
        , COMM_DTL_NM
        , COMM_DTL_DESC
        , USE_YN
        , CREATE_USER_ID
        , CREATE_DT
        , UPDATE_USER_ID
        , UPDATE_DT
        FROM TB_COMM_DTL_CD
        <where>
            <if test="commCd != null and !commCd.equals('')">
                AND COMM_CD = #{commCd}
            </if>
            <if test="commDtlCd != null and !commDtlCd.equals('')">
                AND COMM_DTL_CD = #{commDtlCd}
            </if>
        </where>
    </select>

    <insert id="insertCommDtlCdAse" parameterType="CommDtlCdVO">
        /* CommCdMapper.insertCommDtlCdAse */
        INSERT INTO TB_COMM_DTL_CD (
                     COMM_DTL_CD
                   , COMM_CD
                   , COMM_DTL_NM
                   , COMM_DTL_DESC
                   , USE_YN
                   , CREATE_USER_ID
                   , CREATE_DT
        ) VALUES (
                     #{commDtlCd}
                 , #{commCd}
                 , #{commDtlNm}
                 , #{commDtlDesc}
                 , #{useYn}
                 , #{createUserId}
                 , SYSDATE
                 )
    </insert>

    <update id="updateCommDtlCdAse" parameterType="CommDtlCdVO">
        /* CommCdMapper.updateCommDtlCdAse */
        UPDATE TB_COMM_DTL_CD
        SET COMM_DTL_NM = #{commDtlNm}
          , COMM_DTL_DESC = #{commDtlDesc}
          , USE_YN = #{useYn}
          , UPDATE_USER_ID = #{updateUserId}
          , UPDATE_DT = SYSDATE
        WHERE COMM_CD = #{commCd}
          AND COMM_DTL_CD = #{commDtlCd}
    </update>

    <update id="updateUseYnDtlCdAse" parameterType="CommDtlCdVO">
        /* CommCdMapper.updateUseYnDtlCdAse */
        UPDATE TB_COMM_DTL_CD
        SET USE_YN = #{useYn}
          , UPDATE_USER_ID = #{updateUserId}
          , UPDATE_DT = SYSDATE
        WHERE COMM_CD = #{commCd}
          AND COMM_DTL_CD = #{commDtlCd}
    </update>
    <!-- 공통코드 ASE XML END -->

</mapper>