<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.changsoo.copypastestudy.lwj.mapper.LwjCommCdMapper">
    <!--id = 우리가 볼 이름-->
    <select id="selectLwjCommCdOne" resultType="lwjCommDtVO" parameterType="lwjCommDtVO">
        /*LwjCommCdMapper.selectLwjCommCdOne*/
        SELECT COMM_CD
             , COMM_NM
             , COMM_DESC
        FROM TB_COMM_CD
        WHERE COMM_CD = #{commCd}
    </select>

    <select id="selectLwjCommCdList" resultType="lwjCommDtVO" parameterType="lwjCommDtVO">
        /*LwjCommCdMapper.selectLwjCommCdList*/
        SELECT COMM_CD
        , COMM_NM
        , COMM_DESC
        FROM TB_COMM_CD
        <where>
            <if test="commCd != null and !commCd.equals('')">
                AND COMM_CD LIKE '%' || #{commCd} || '%'
            </if>
            <if test="commNm != null and !commNm.equals('')">
                AND COMM_NM LIKE '%' || #{commNm} || '%'
            </if>
            <if test="commDesc != null and !commDesc.equals('')">
                AND COMM_DESC LIKE '%' || #{commDesc} || '%'
            </if>
        </where>
        ORDER BY COMM_CD
    </select>

    <insert id="insertLwjCommCd" parameterType="lwjCommDtVO">
        /* LwjCommCdMapper.insertLwjCommCd */
        INSERT INTO TB_COMM_CD
        ( COMM_CD
        , COMM_NM
        , COMM_DESC
        ) VALUES
            ( #{commCd}
            , #{commNm}
            , #{commDesc}
            )
    </insert>

    <update id="updateLwjCommCd" parameterType="lwjCommDtVO">
        /* LwjCommCdMapper.updateLwjCommCd */
        UPDATE TB_COMM_CD
        SET COMM_CD = #{commCd}
          , COMM_NM = #{commNm}
          , COMM_DESC = #{commDesc}
        WHERE COMM_CD = #{commCd}
    </update>

    <delete id="deleteLwjCommCd" parameterType="lwjCommDtVO">
        /* LwjCommCdMapper.deleteLwjCommCd */
        DELETE FROM TB_COMM_CD
        WHERE COMM_CD = #{commCd}
    </delete>


    <select id="selectLwjCommDtOne" resultType="lwjCommDtVO" parameterType="lwjCommDtVO">
        /* LwjCommCdMapper.selectLwjCommDtOne */
        SELECT COMM_CD
             , COMM_DT_CD
             , COMM_DT_NM
             , COMM_DT_DESC
             , SORT_ORDER
             , COMM_DT_GRP
        FROM TB_COMM_DT
        WHERE COMM_CD = #{commCd}
          AND COMM_DT_CD = #{commDtCd}
    </select>

    <select id="selectLwjCommDtList" resultType="lwjCommDtVO" parameterType="lwjCommDtVO">
        /* LwjCommCdMapper.selectLwjCommDtList */
        SELECT COMM_CD
             , COMM_DT_CD
             , COMM_DT_NM
             , COMM_DT_DESC
             , SORT_ORDER
             , COMM_DT_GRP
        FROM TB_COMM_DT
        <where>
            <if test="commCd != null and !commCd.equals('')">
                AND COMM_CD LIKE '%' || #{commCd} || '%'
            </if>
            <if test="commDtCd != null and !commDtCd.equals('')">
                AND COMM_DT_CD LIKE '%' || #{commDtCd} || '%'
            </if>
            <if test="commDtNm != null and !commDtNm.equals('')">
                AND COMM_DT_NM LIKE '%' || #{commDtNm} || '%'
            </if>
            <if test="commDtDesc != null and !commDtDesc.equals('')">
                AND COMM_DT_DESC LIKE '%' || #{commDtDesc} || '%'
            </if>
            <if test="sortOrder > 0">
                AND SORT_ORDER LIKE '%' || #{sortOrder} || '%'
            </if>
            <if test="commDtGrp != null and !commDtGrp.equals('')">
                AND COMM_DT_GRP LIKE '%' || #{commDtGrp} || '%'
            </if>
        </where>
        ORDER BY COMM_CD, COMM_DT_CD
    </select>

    <insert id="insertLwjCommDt" parameterType="lwjCommDtVO">
    /* LwjCommCdMapper.insertLwjCommDt */
    INSERT INTO TB_COMM_DT
    ( COMM_CD
    , COMM_DT_CD
    , COMM_DT_NM
    , COMM_DT_DESC
    , SORT_ORDER
    , COMM_DT_GRP
    ) VALUES
    ( #{commCd}
    , #{commDtCd}
    , #{commDtNm}
    , #{commDtDesc}
    , #{sortOrder}
    , #{commDtGrp}
    )
    </insert>

    <update id="updateLwjCommDt" parameterType="lwjCommDtVO">
        /* LwjCommCdMapper.updateLwjCommDt */
        UPDATE TB_COMM_DT
        SET COMM_CD = #{commCd}
          , COMM_DT_CD = #{commDtCd}
          , COMM_DT_NM = #{commDtNm}
          , COMM_DT_DESC = #{commDtDesc}
          , SORT_ORDER = #{sortOrder}
          , COMM_DT_GRP = #{commDtGrp}
        WHERE COMM_CD = #{commCd}
          AND COMM_DT_CD = #{commDtCd}
    </update>

    <delete id="deleteLwjCommDt" parameterType="lwjCommDtVO">
        /* LwjCommCdMapper.deleteLwjCommDt */
        DELETE FROM TB_COMM_DT
        WHERE COMM_CD = #{commCd}
          AND COMM_DT_CD = #{commDtCd}
    </delete>
</mapper>