<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.changsoo.copypastestudy.lwj.mapper.LwjMemberMapper">
    <select id="selectLwjMemberList" resultType="lwjMemberVO" parameterType="lwjMemberVO"> -- 회원가입 신청 목록
        /*LwjMemberMapper.selectLwjMemberList*/
        SELECT MT.MEM_UID
             , REPLACE(MT.MEM_NAME, SUBSTR(MT.MEM_NAME, 2, 1), '*') AS mem_name
             , SUBSTR(MT.MEM_PHONE, 1, 3) || '-' || '****' || '-' || SUBSTR(MT.MEM_PHONE, 8) AS MEM_PHONE
             , SUBSTR(MT.MEM_REG_NUM, 1, 6) || '-' || SUBSTR(MT.MEM_REG_NUM, 7, 1) || '******' AS MEM_REG_NUM
             , REPLACE(REPLACE(REPLACE(REPLACE(MT.MEM_CHK, 'C', 'CRUD'), 'Q', 'Query'), 'F', 'Function'), 'P', 'Procedure') AS MEM_CHK
             , CASE WHEN MT.MEM_RDO = 'J' THEN '일본'
                    WHEN MT.MEM_RDO = 'S' THEN '동남아'
                    WHEN MT.MEM_RDO = 'E' THEN '유럽'
                    ELSE MT.MEM_RDO
                    END AS MEM_RDO
             , MT.MEM_DESC
             , MT.CREATE_DT AS MEM_CREATE
             , M.CREATE_DT AS MEM_ALLOW
             , NVL2(M.MEM_UID, 'N', 'Y') AS BTN_CHK
          FROM TB_COMM_MEMBER_TEMP MT
          LEFT OUTER JOIN TB_COMM_MEMBER M
            ON MT.MEM_UID = M.MEM_UID
        <where>
            <if test="memName != null and !memName.equals('')">
                AND MT.MEM_NAME LIKE '%' || #{memName} || '%'
            </if>
            <if test="memPhone != null and !memPhone.equals('')">
                AND MT.MEM_PHONE LIKE '%' || #{memPhone} || '%'
            </if>
            <if test="memRegNum != null and !memRegNum.equals('')">
                AND MT.MEM_REG_NUM LIKE '%' || #{memRegNum} || '%'
            </if>
            <if test="memPhone1 != null and !memPhone1.equals('')">
                AND MT.MEM_PHONE LIKE #{memPhone1} || '%'
            </if>
            <if test="memRdo != null and !memRdo.equals('')">
                AND MT.MEM_RDO = #{memRdo}
            </if>
        </where>
        ORDER BY MEM_NAME
    </select>

    <select id="selectLwjMemberOne" resultType="lwjMemberVO" parameterType="lwjMemberVO"> -- 회원가입 승인 이벤트
        /*LwjMemberMapper.selectLwjMemberOne*/
        SELECT MEM_UID
             , MEM_NAME
             , MEM_PHONE
             , MEM_REG_NUM
             , MEM_CHK
             , MEM_RDO
             , MEM_DESC
        FROM TB_COMM_MEMBER_TEMP
       WHERE MEM_UID = #{memUid}
    </select>

    <insert id="insertLwjMemberTemp" parameterType="lwjMemberVO"> -- 회원가입 승인 신청
        /*LwjMemberMapper.insertLwjMemberTemp*/
        INSERT INTO TB_COMM_MEMBER_TEMP
        ( MEM_UID
        , MEM_NAME
        , MEM_PHONE
        , MEM_REG_NUM
        , MEM_CHK
        , MEM_RDO
        , MEM_DESC
        , CREATE_DT
        ) VALUES
        ( SYS_GUID()
        , #{memName}
        , #{memPhone}
        , #{memRegNum}
        , #{memChk}
        , #{memRdo}
        , #{memDesc}
        , SYSDATE
        )
    </insert>

    <insert id="insertLwjMember" parameterType="lwjMemberVO"> -- 회원가입 최종 승인
        /*LwjMemberMapper.insertLwjMember*/
        INSERT INTO TB_COMM_MEMBER
        ( MEM_UID
        , MEM_NAME
        , MEM_PHONE
        , MEM_REG_NUM
        , MEM_CHK
        , MEM_RDO
        , MEM_DESC
        , CREATE_DT
        ) SELECT MEM_UID
               , MEM_NAME
               , MEM_PHONE
               , MEM_REG_NUM
               , MEM_CHK
               , MEM_RDO
               , MEM_DESC
               , SYSDATE
            FROM TB_COMM_MEMBER_TEMP
           WHERE MEM_UID = #{memUid}
    </insert>
</mapper>