<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.changsoo.copypastestudy.menu.mapper.MenuMapper">

    <!-- 공통코드 ASE XML START -->
    <select id="selectMenuOneAse" parameterType="menuVO" resultType="menuVO">
        /* MenuMapper.selectMenuOneAse */
        SELECT MENU_ID
             , MENU_NM
             , MENU_UP_ID
             , SORT_ORDER
             , MENU_URL
             , USE_YN
             , CREATE_USER_ID
             , CREATE_DT
             , UPDATE_USER_ID
             , UPDATE_DT
        FROM TB_MENU
        WHERE MENU_ID = #{menuId}
    </select>

    <select id="selectMenuListAse" parameterType="menuVO" resultType="menuVO">
        /* MenuMapper.selectMenuListAse */
        SELECT MENU_ID
             , MENU_NM
             , MENU_UP_ID
             , SORT_ORDER
             , MENU_URL
             , USE_YN
             , CREATE_USER_ID
             , CREATE_DT
             , UPDATE_USER_ID
             , UPDATE_DT
         FROM TB_MENU
        <where>
            <if test="menuId != null and !menuId.equals('')">
                AND MENU_ID = #{menuId}
            </if>
            <if test="menuNm != null and !menuNm.equals('')">
                AND MENU_NM = #{menuNm}
            </if>
        </where>
    </select>

    <insert id="insertMenuAse" parameterType="menuVO">
        /* MenuMapper.insertMenuAse */
            INSERT INTO TB_MENU (
                  MENU_ID
                , MENU_NM
                , MENU_UP_ID
                , SORT_ORDER
                , MENU_URL
                , USE_YN
                , CREATE_USER_ID
                , CREATE_DT
            ) VALUES (
                  #{menuId}
                , #{menuNm}
                , #{menuUpId}
                , #{sortOrder}
                , #{menuUrl}
                , #{useYn}
                , 'ASE'
                , SYSDATE
            )
    </insert>

    <update id="updateMenuAse" parameterType="menuVO">
        /* MenuMapper.updateMenuAse */
            UPDATE TB_MENU
            SET MENU_NM = #{menuNm}
              , MENU_UP_ID = #{menuUpId}
              , SORT_ORDER = #{sortOrder}
              , MENU_URL = #{menuUrl}
              , USE_YN = #{useYn}
              , UPDATE_USER_ID = 'ASE'
              , UPDATE_DT = SYSDATE
            WHERE MENU_ID = #{menuId}
    </update>

    <update id="updateUseYnAse" parameterType="menuVO">
        /* MenuMapper.updateUseYnCdAse */
        UPDATE TB_MENU
        SET USE_YN = 'N'
          , UPDATE_USER_ID = 'ASE'
          , UPDATE_DT = SYSDATE
        WHERE MENU_ID = #{menuId}
        <if test="menuUpId != null and !menuUpId.equals('')">
          AND MENU_UP_ID = #{menuUpId}
        </if>
    </update>

    <select id="select1DethMenuAse" parameterType="menuVO" resultType="menuVO">
        /* MenuMapper.select1DethMenuAse */
        SELECT MENU_ID
        , MENU_NM
        , MENU_UP_ID
        , SORT_ORDER
        , MENU_URL
        , USE_YN
        FROM TB_MENU
        WHERE MENU_UP_ID IS NULL
          AND MENU_ID IN (
            SELECT MENU_ID FROM TB_AUTH_MENU
            WHERE AUTH_GRP_ID = ( SELECT AUTH_GRP_ID
                                  FROM TB_AUTH_USERS
                                  WHERE USER_ID = UPPER(#{userId})
                                )
            )
        ORDER BY SORT_ORDER ASC
    </select>


    <select id="select2DethMenuAse" parameterType="menuVO" resultType="menuVO">
        /* MenuMapper.select2DethMenuAse */
        SELECT MENU_ID
             , MENU_NM
             , MENU_UP_ID
             , SORT_ORDER
             , MENU_URL
             , USE_YN
          FROM TB_MENU
         WHERE MENU_UP_ID IS NOT NULL
           AND MENU_ID IN (
             SELECT MENU_ID FROM TB_AUTH_MENU
             WHERE AUTH_GRP_ID = ( SELECT AUTH_GRP_ID
                                   FROM TB_AUTH_USERS
                                   WHERE USER_ID = UPPER(#{userId})
                                 )
             )
    </select>

    <select id="selectAuthListAse" parameterType="menuVO" resultType="menuVO">
        /* MenuMapper.selectAuthListAse */
        SELECT AUTH_GRP_ID
             , AUTH_GRP_NM
             , CREATE_USER_ID
             , CREATE_DT
             , UPDATE_USER_ID
             , UPDATE_DT
        FROM TB_AUTH_GRP
    </select>

    <select id="selectAuthMenuListAse" parameterType="menuVO" resultType="menuVO">
        /* MenuMapper.selectAuthMenuListAse */
        SELECT MENU_ID
             , MENU_NM
             , MENU_UP_ID
             , SORT_ORDER
             , MENU_URL
             , USE_YN
        FROM TB_MENU
        WHERE MENU_ID IN (SELECT MENU_ID
                              FROM TB_AUTH_MENU
                              WHERE AUTH_GRP_ID = #{authGrpId}
                )
        ORDER BY SORT_ORDER ASC
    </select>


    <insert id="insertAuthMenuAse" parameterType="menuVO">
        /* MenuMapper.insertAuthMenuAse */
        INSERT INTO TB_AUTH_MENU (
                      AUTH_GRP_ID
                    , MENU_ID
        ) VALUES (
                     #{authGrpId}
                    , #{menuId}
         )
    </insert>

    <delete id="deleteAuthMenuAse" parameterType="menuVO">
        /* MenuMapper.deleteAuthMenuAse */
        DELETE
          FROM TB_AUTH_MENU
        WHERE MENU_ID = #{menuId}
          AND AUTH_GRP_ID = #{authGrpId}
    </delete>

    <!-- 공통코드 ASE XML END -->

    <select id="yjsMenuList" resultType="menuVO" parameterType="menuVO">
        /* MenuMapper.yjsMenuList */
        SELECT
               menu_id
             , menu_nm
             , menu_up_id
             , sort_order
             , menu_url
             , use_yn
             , create_user_id
             , create_dt
             , update_user_id
             , update_dt
        FROM TB_MENU
        <where>
            <if test="menuId != null and !menuId.equals('')">
                AND UPPER(menu_id) LIKE '%' || UPPER(#{menuId}) || '%'
            </if>
            <if test="menuNm != null and !menuNm.equals('')">
                AND UPPER(menu_nm) LIKE '%' || UPPER(#{menuNm}) || '%'
            </if>
        </where>
        ORDER BY sort_order
    </select>

    <insert id="yjsMenuInsert" parameterType="menuVO">
        /* MenuMapper.yjsMenuInsert */
        INSERT INTO TB_MENU(
                             menu_id
                           , menu_nm
                           , menu_up_id
                           , sort_order
                           , menu_url
                           , use_yn
                           , create_user_id
                           , create_dt
        ) VALUES (
                     #{menuId}
                 , #{menuNm}
                 , #{menuUpId}
                 , #{sortOrder}
                 , #{menuUrl}
                 , #{useYn}
                 , 'YJS'
                 , sysdate
                 )
    </insert>

    <update id="yjsMenuUpdate" parameterType="menuVO">
        /* MenuMapper.yjsMenuUpdate */
        UPDATE TB_MENU
        SET menu_nm  = #{menuNm}
          , menu_up_id  = #{menuUpId}
          , sort_order  = #{sortOrder}
          , menu_url  = #{menuUrl}
          , use_yn  = #{useYn}
          , update_user_id  = 'YJS'
          , update_dt  = sysdate
        WHERE menu_id = #{menuId}
    </update>

    <delete id="yjsMenuDelete" parameterType="menuVO">
        /* MenuMapper.yjsMenuDelete */
        DELETE
        FROM TB_MENU
        WHERE menu_id = #{menuId}
    </delete>

    <select id="yjsMenuUpIdNull" resultType="menuVO" parameterType="menuVO">
        /* MenuMapper.yjsMenuUpIdNull */
        SELECT
        menu_id
        , menu_nm
        , menu_up_id
        , sort_order
        , menu_url
        , use_yn
        , create_user_id
        , create_dt
        , update_user_id
        , update_dt
        FROM TB_MENU
        WHERE MENU_UP_ID IS NULL
        AND MENU_ID IN (SELECT MENU_ID from TB_AUTH_MENU where AUTH_GRP_ID IN (
            SELECT AUTH_GRP_ID from TB_AUTH_USERS where UPPER(USER_ID) LIKE '%' || UPPER(#{userId}) || '%'
            ) )
    </select>

    <select id="yjsMenu2Dep" resultType="menuVO" parameterType="menuVO">
        /* MenuMapper.yjsMenu2Dep */
        SELECT
            menu_id
             , menu_nm
             , menu_up_id
             , sort_order
             , menu_url
             , use_yn
             , create_user_id
             , create_dt
             , update_user_id
             , update_dt
        FROM TB_MENU
        WHERE MENU_UP_ID IS NOT NULL
        AND MENU_UP_ID in (select MENU_ID from TB_MENU where MENU_UP_ID is null)
          AND MENU_ID IN (SELECT MENU_ID from TB_AUTH_MENU where AUTH_GRP_ID IN (
            SELECT AUTH_GRP_ID from TB_AUTH_USERS where UPPER(USER_ID) LIKE '%' || UPPER(#{userId}) || '%'
        ) )
        ORDER BY sort_order
    </select>
</mapper>