<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.changsoo.copypastestudy.yjs.mapper.YjsMusicalMapper">

    <select id="selectYjsMusicalOne" resultType="yjsMusicalVO" parameterType="yjsMusicalVO">
        SELECT title
             , place
             , first_schedule
             , last_schedule
        FROM tb_yjs_musical
        WHERE title = #{title}
    </select>

    <select id="selectYjsMusicalList" resultType="yjsMusicalVO" parameterType="yjsMusicalVO">
        select
            title, place,
            first_schedule, last_schedule
        from tb_yjs_musical
        <where>
            <if test="title != null and !title.equals('')">
                AND title LIKE '%' || #{title} || '%'
            </if>
            <if test="place != null and !place.equals('')">
                AND place LIKE '%' || #{place} || '%'
            </if>
            <if test="firstSchedule != null and !firstSchedule.equals('')">
                AND first_schedule LIKE '%' || #{firstSchedule} || '%'
            </if>
            <if test="lastSchedule != null and !lastSchedule.equals('')">
                AND last_schedule LIKE '%' || #{lastSchedule} || '%'
            </if>
        </where>
        ORDER BY first_schedule
    </select>

    <insert id="insertYjsMusical" parameterType="yjsMusicalVO">
        INSERT INTO tb_yjs_musical (
                                title
                              , place
                              , first_schedule
                              , last_schedule
        ) values (
                     #{title}
                 , #{place}
                 , #{firstSchedule}
                 , #{lastSchedule}
                 )
    </insert>

    <update id="updateYjsMusical" parameterType="yjsMusicalVO">
        UPDATE tb_yjs_musical
        SET place  = #{place}
          , last_schedule = #{lastSchedule}
        WHERE title = #{title}
          AND first_schedule = #{firstSchedule}
    </update>

    <delete id="deleteYjsMusical" parameterType="yjsMusicalVO">
        DELETE
        FROM tb_yjs_musical
        WHERE title = #{title}
          AND first_schedule = #{firstSchedule}
    </delete>

</mapper>